<!DOCTYPE html>
<html>
<head>
  <title>MadhuraMandya</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render :partial => "layouts/header" %>
<%= yield %>
<div class="modal fade" id="myModal" tabindex="-1" aria-hidden="true">
    <%= render :partial => "colleges/new" %>
  </div>
<%= render :partial => "layouts/footer" %>

</body>
</html>
